.detail{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.description {
    width: 70%;
    min-height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 30px;
    text-decoration: none;
    color: #333;
    display: inline-block;
}

.description h3 {
    margin-top: 0;
}

.description h4 {
    margin-top: 5px;
    color: #666;
}

.description p {
    margin-bottom: 10px;
}

.logement-images {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logement-images img {
    max-width: 100%;
    height: auto;
    margin-right: 5px; /* Ajoutez de l'espace entre les images si nécessaire */
}
