*{
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#logomail {
  width: 200px;
  height: auto;
  margin: 40px;
  border-radius: 30px;
}

body {
  background-color: rgb(252, 247, 235);
}

.image-presentation{
    background-image: url('../../assets/design-calli.jpg');
    position: relative;
    background-repeat:no-repeat;
    background-size: cover;
    height: 37em;
    width: 100%;
}

.blur-background {
    padding: 30px;
    display: flex;
    border-radius: 35px;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 500px; 
    height: 130px; 
    backdrop-filter: blur(5px) brightness(1.1);
    z-index: 1;
    
  }


  .text-overlay {
    font-size: 24px;
    position: relative;
    font-style: italic;
    line-height: 1.5;
    top: 50%; /* Centrer le texte verticalement */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #145C56;
    z-index: 2;
    /* display: flex;
    align-items: center; */
  }
  /* .Search-bar {
    margin: 20px;
  } */
  .coups-de-coeur {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.coups-de-coeur img {
    width: 400px; /* Définit une largeur fixe pour toutes les images */
    height: 250px; /* Définit une hauteur fixe pour toutes les images */
    object-fit: cover; /* Assure que les images couvrent l'espace sans être déformées */
    margin: 10px; /* Espacement autour des images */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre pour donner l'effet 3D */
    transition: box-shadow 0.2s ease-in-out; /* Animation pour l'ombre */
    background-color: white; /* Couleur de fond du cadre, similaire à un Polaroid */
    padding: 15px; /* Espace entre l'image et le bord du cadre */
    box-sizing: border-box; /* S'assure que le padding n'augmente pas la taille de l'élément */
}

.coups-de-coeur img:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Ombre plus importante lors du survol */
}