
input {
    border-radius: 11px;
    background-color: #EBEBEB;
    border: none;
    height: 30px;
}

.where {
    width: 300px;
    height: 30px;
    margin-left: 20px;
    border-radius: 11px;

}

.date {
    width: 150px;
}

.nombres{
    display: flex;
    flex-direction: row;
    width: 50px;
    gap: 0;
}

#search {
    background-color: #fcd27e;
    width: 150px;    
    border-radius: 11px;
    height: 45px;
}

.Search-bar {
    background-color: #3C3C59;
    opacity: 90%;
    width: 75em;
    height: 4em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
