.search-bar{
    background-color: #3C3C59;
    width: 75em;
    height: 4em;
    border-radius: 10px;
}
input {
    border-radius: 11px;
    background-color: #EBEBEB;
    border: none;
}
#search {
    border-radius: 11px;
}
.nombres {
    display: flex;
}